<!DOCTYPE html>
<html>
<head>
  <title>Matters</title>
  <%= stylesheet_link_tag    "matters/application", :media => "all" %>
  <%= javascript_include_tag "matters/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
