<!DOCTYPE html>
<html>
<head>
  <title>Addressable</title>
  <%= stylesheet_link_tag    "addressable/application", :media => "all" %>
  <%= javascript_include_tag "addressable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
