<!DOCTYPE html>
<html>
<head>
  <title>Sortable</title>
  <%= stylesheet_link_tag    "sortable/application", :media => "all" %>
  <%= javascript_include_tag "sortable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
